{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1> SNACKS MENU </h1>
  <img src="{% static 'images/snacks_image.png' %}" class="img-fluid" alt="snack image"/>
  <p class="lead">Love to snack? We do too!</p>
</div>

<div>
<div class="charcuterie px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2> Charcuterie Board</h2>
{#<img src="{% static 'images/snack_board.jpeg' %}" class="img-fluid" alt="snack board"/>#}
<img src="{% static 'images/charcuterie_board.jpeg' %}" class="img-fluid" alt="charcuterie board"/>
</div>
{% endblock content %}
